@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap');

$bg-color: #A2D2FF;
$nav-bg-color: #1C1C1C;
$nav-font-color: #FFFFFF;
$nav-font-size: 14px;
$text-color: #FEF9EF;
$text-hover-color: #A2D2FF;
$text-size: 20px;
